@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
	font-family: "Inter", sans-serif;
	color: white;
	scrollbar-width: none;
}
html {
	min-height: 100%;
	width: 100%;
	overflow-x: hidden;
	cursor: none;
}
body {
	background: linear-gradient(
		90deg,
		hsla(254, 100%, 73%, 1) 0%,
		hsla(226, 100%, 64%, 1) 100%
	);
	min-height: 100%;
	width: 100%;
	overflow-x: hidden;
	cursor: none;
}
.nav {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	padding: 6px;
	width: 15vw;
	min-width: 275px;
	height: 5vh;
	min-height: 45px;
	border-radius: 6px;
	border: 1px solid white;
	background: rgba(58, 58, 58, 0.404);
	display: flex;
	align-items: center;
	z-index: 9999;
	backdrop-filter: blur(6px);
}
.nav h1 {
	margin: 0;
	line-height: 1;
	user-select: none;
}
.nav .buttons {
	margin-left: auto;
	display: flex;
	gap: 6px;
}
.nav .buttons button {
	height: 48px;
	width: 48px;
	background: transparent;
	border: 1px solid white;
	border-radius: 6px;
	transition: 0.4s ease-in-out;
	cursor: none;
}
.nav .buttons button:hover {
	height: 48px;
	width: 48px;
	background: rgba(255, 255, 255, 0.3);
	border: 1px solid white;
	border-radius: 6px;
}
.container {
	position: relative;
	margin: 1% auto 0 auto;
	display: grid;
	gap: 7.5px;
	width: 90%;
	grid-template-columns: repeat(auto-fit, minmax(150px, max-content));
	justify-items: center;
	place-items: center;
	align-items: center;
	justify-content: center;
}
.card {
	width: 150px;
	height: 200px;
	border: 1px solid white;
	background: rgba(58, 58, 58, 0.404);
	border-radius: 12px;
	text-align: center;
	box-sizing: border-box;
	transition: 0.3s ease-in-out;
	font-size: 0.75rem;
}
.card:hover {
	padding: 4px;
	border: 4px solid rgb(255, 255, 255);
}

.card img {
	width: 100%;
	height: 70%;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}
.cursor {
	position: absolute;
	pointer-events: none;
	filter: invert(1);
	mix-blend-mode: difference;
	transition: opacity 0.3s ease-in-out;
	z-index: 99999;
}
.not-found {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border: 2px solid rgb(185, 185, 185);
	padding: 6px;
	border-radius: 6px;
	height: 200px;
	background: rgba(49, 49, 49, 0.322);
	text-align: center;
}
.not-found button {
	background: transparent;
	border: 1px solid white;
	font-size: 2rem;
	border-radius: 6px;
	margin-top: 20px;
}

select {
	background: transparent;
	border: 1px solid white;
	border-radius: 6px;
	width: 125px;
	height: 30px;
	text-align: center;
	box-sizing: border-box;
	transition: 0.3s ease-in-out;
	appearance: none;
	cursor: none;
}
select:hover {
	padding: 5px;
	width: 130px;
	height: 35px;
	border: 4px solid rgb(255, 255, 255);
}
option {
	background: transparent;
	color: black;
}
.settings-container {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	justify-content: center;
	align-items: center;
	width: max-content;
}
.settings-category {
	margin-top: 5px;
	width: 45vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 8px;
	min-width: 350px;
	padding: 6px;
	height: 300px;
	background: rgba(58, 58, 58, 0.404);
	border: 1px solid white;
}
.settings-category h2 {
	text-align: left;
}

.gameframe {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	z-index: 9999;
}
.controls button {
	position: relative;
	margin: 5px;
	padding: 4px;
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(6px);
	border: 2px solid white;
	width: 38px;
	height: 38px;
	cursor: pointer;
	mix-blend-mode: difference;
	isolation: isolate;
}
.gameframe iframe {
	width: 99vw;
	height: 98vh;
	border: 2px solid white;
	border-radius: 6px;
	overflow: hidden;
	background: rgba(3, 3, 3, 0.418);
	backdrop-filter: blur(6px);
}

.controls {
	display: grid;
	position: fixed;
	z-index: 9999;
}

.surprise {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	overflow: hidden;
	z-index: 9999;
	display: flex;
	align-items: center;
	justify-content: center;
}

.surprisemf {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 4px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.search-container {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 75px 0;
}
.search-controls {
	background: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	width: 500px;
	gap: 10px;
	height: 90px;
	display: flex;
	align-items: center;
	border: 1px solid white;
}
.search-bar {
	border-radius: 50px;
	height: 50px;
	width: 320px;
	margin: 10px;
	background: rgba(58, 58, 58, 0.404);
	border: 1px solid rgb(185, 185, 185);
	text-align: center;
	transition: 0.7s ease-in-out;
	transform-origin: center;
	cursor: none;
}
.search-bar::placeholder {
	color: white;
}
